.heading {
  display: flex; 
  justify-content: space-between;
}

.search {
  border: none;
}

.searchbar {
  display: flex;
  border-bottom: solid black 1px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.listElement {
  width: 14%;
}

.link {
  text-decoration: none;
}